@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/images/hero2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  @apply bg-zinc-900 h-full overflow-x-hidden;

}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}